body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

p {color: green;
   margin-left : 50px;
   }

form {color: blue;
	margin-left : 100px;
	}

button {
	color: red;
	font: arial;
}

php{
	color: green;
}